<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="logo">GameShop</div>
        <div class="cart">
            <filter-el></filter-el>
            <span class="btn-cart" type="button" @click="showCart = !showCart">
                <img class="cartIcon" src="img/cart.png" alt="">
                <span class="cartSum" >{{ counterCart() }}</span>
            </span>
            <div class="cart-block" v-show="showCart">
                <p v-if="!cartItems.length">Корзина пуста</p>
                <div class="cart-item" v-for="item of cartItems" :key="item.id_product">
                    <div class="product-info">
                        <img :src="imgCart" alt="Some img">
                        <div class="product-desc">
                            <div class="product-title">{{ item.product_name }}</div>
                            <div class="product-quantity">Quantity: {{ item.quantity }}</div>
                            <div class="product-single-price">$ {{ item.price }} </div>
                        </div>
                    </div>
                    <div class="cart-right">
                        <div class="product-price">{{item.quantity*item.price}} $</div>
                        <button class="del-btn" @click="remove(item)">&times;</button>
                    </div>
                </div>       
            </div>
        </div>
    </header>
    <main>
        <error ref="error"></error>
        <div class="products">
            <div class="product-item" v-for="product of filtered" :key="product.id_product">
                <img :src="imgCatalog" alt="Some img">
                <div class="desc">
                    <h3>{{product.product_name}}</h3>
                    <p>{{product.price}} $</p>
                    <button class="buy-btn" @click="addProduct(product)">Купить</button>
                </div>
            </div>
        </div>
    </main>
</div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
    <script src="js/Filter.js"></script>
    <script src="js/Error.js"></script>
</body>
</html>